
<div class="container-fluid py-5">
    <form [formGroup]="formImagen" (ngSubmit)="onSubmit()" class="container p-4 rounded shadow-sm" style="max-width: 1000px; background-color: #F3F1ED;">

        <!-- SELECT de Categorías -->
        <div class="mb-3">
          <label for="categoria" class="form-label">Selecciona una categoría</label>
          <select id="categoria" class="form-select" formControlName="categoriaId" (change)="mostrarDescripcionCategoriaSeleccionada()" [disabled]="todasCategoriasOcupadas">
            <option value="" selected>Selecciona una categoría</option>
            <option *ngFor="let cat of categorias" [value]="cat.id" [disabled]="categoriasConFoto.includes(cat.id)">{{ cat.nombre }}</option>
          </select>
            <!-- Muestra mensaje solo si hay categorias para subir fotos y no se selecciona ninguna-->
            <div *ngIf="!todasCategoriasOcupadas && formImagen.controls['categoriaId'].invalid && (formImagen.controls['categoriaId'].dirty || formImagen.controls['categoriaId'].touched)">
                <div class="text-danger">La categoría es obligatoria.</div>
            </div>
            <!-- Muestra mensaje solo si ya completó toda la subida de fotos por categoria-->
            <div *ngIf="todasCategoriasOcupadas" class="text-success">
                Ya has subido todas las fotografías.
            </div>
        </div>
        <!-- Descripción de categoría seleccionada antes -->
        <div class="mb-3" *ngIf="descripcionCategoriaSeleccionada">
            <label class="form-label">Descripción de la categoría</label>
            <textarea class="form-control" [value]="descripcionCategoriaSeleccionada" readonly rows="3"></textarea>
        </div>
      
        <!-- INPUT de Imágenes -->
        <div class="mb-3">
          <label for="imagenes" class="form-label">Selecciona fotografía</label>
          <input type="file" id="imagenes" multiple (change)="seleccionarImagen($event)" accept="image/*" class="form-control" [disabled]="todasCategoriasOcupadas">
        </div>
        <div class="mb-3" *ngIf="imagenesSeleccionadas.length > 0">
            <label for="nombre" class="form-label">Nombre de la fotografía</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre de la fotografía" required>
            <!-- Muestra mensaje si no añade un nombre a la imagen que queremos subir-->
            @if(formImagen.controls["nombre"].invalid && (formImagen.controls["nombre"].dirty || formImagen.controls["nombre"].touched)){
                @if(formImagen.controls["nombre"].errors?.["required"]){
                    <div class="text-danger">
                        El nombre para la fotografía es obligatorio.
                    </div>
                }

            }
        </div>
        <div class="mb-3" *ngIf="imagenesSeleccionadas.length > 0">
            <label for="descripcion" class="form-label">Descripción de la fotografía</label>
            <textarea id="descripcion" class="form-control" rows="3" formControlName="descripcion"></textarea>
            <!-- Muestra mensaje si no añade una descripción a la imagen que queremos subir-->
            @if(formImagen.controls["descripcion"].invalid && (formImagen.controls["descripcion"].dirty || formImagen.controls["descripcion"].touched)){
                @if(formImagen.controls["descripcion"].errors?.["required"]){
                    <div class="text-danger">
                        La descripción de la fotografía es obligatoria.
                    </div>
                }
                @if(formImagen.controls["descripcion"].errors?.["minlength"]){
                    <div class="text-danger">
                        La descripción de la fotografía debe tener al menos 10 caracteres.
                    </div>
                }
                @if(formImagen.controls["descripcion"].errors?.["maxlength"]){
                    <div class="text-danger">
                        La descripción de la fotografía no puede tener más de 200 caracteres.
                    </div>
                }

            }
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-custom btn-lg" [disabled]="!formImagen.valid || todasCategoriasOcupadas">Guardar</button>
            <button type="button" routerLink="/" class="btn btn-custom btn-lg ms-3">Volver</button>
        </div>
        <div class="text-center mt-4">
            <div *ngIf="mensajeError" class="alert alert-danger text-center">
                {{ mensajeError }}
            </div>
            <div *ngIf="cargaCorrecta" class="alert alert-success text-center">
                Fotografía cargada correctamente.
            </div>
        </div>
      </form>
</div>
