<br />
<br />
<form [formGroup]="form" class="container p-4 rounded shadow-sm" style="max-width: 600px; background-color: #F3F1ED;">
    <h3 class="text-center mb-4" style="color: #254D42;">Contacto</h3>
    <div class="mb-4">
        <div class="md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" required formControlName="nombre" class="form-control"
                placeholder="Introduce nombre" />
            @if(form.controls["nombre"].invalid && (form.controls["nombre"].dirty || form.controls["nombre"].touched)){
                @if(form.controls["nombre"].errors?.["required"]){
                    <div class="text-danger">
                        El nombre es obligatorio.
                    </div>
                }
            }
        </div>
        <div class="mt-4 md-6">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" id="apellidos" required formControlName="apellidos" class="form-control"
                placeholder="Introduce apellidos" />
            @if(form.controls["apellidos"].invalid && (form.controls["apellidos"].dirty || form.controls["apellidos"].touched)){
                @if(form.controls["apellidos"].errors?.["required"]){
                    <div class="text-danger">
                        Los apellidos son obligatorios.
                    </div>
                }
            }
        </div>
        <div class="mt-4 md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" required formControlName="email" class="form-control" placeholder="Introduce email" />
            @if(form.controls["email"].invalid && (form.controls["email"].dirty || form.controls["email"].touched)){
                @if(form.controls["email"].errors?.["required"]){
                    <div class="text-danger">
                        El email es obligatorio.
                    </div>
                }
                @if(form.controls["email"].errors?.["email"]){
                    <div class="text-danger">
                        Formato de email incorrecto.
                    </div>
                }
            }
        </div>
        <div class="mt-4 md-6">
            <label for="mensaje" class="form-label">Tu mensaje</label>
            <textarea id="mensaje" required formControlName="mensaje" class="form-control"
            placeholder="Introduce mensaje" rows="8"></textarea>
            @if(form.controls["mensaje"].invalid && (form.controls["mensaje"].dirty || form.controls["mensaje"].touched)){
                @if(form.controls["apellidos"].errors?.["required"]){
                    <div class="text-danger">
                        El mensaje es obligatorio.
                    </div>
                }
            }
        </div>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-custom">Enviar</button>
        <button routerLink="/" class="btn btn-custom">Volver</button>
    </div>
</form>
  