<!-- Formulario para modificar parámetros -->
<div class="container-fluid py-5">
    <form [formGroup]="formParametrosMod" class="container p-4 rounded shadow-sm" style="max-width: 1000px; background-color: #F3F1ED;" (ngSubmit)="editar()">
        <h2 class="text-center mb-4" style="color: #254D42;">Modificar parámetros</h2>
        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <label for="numMaxFotografias" class="form-label">Número máximo fotografias</label>
                <input type="number" id="numMaxFotografias" required formControlName="numMaxFotografias" class="form-control"
                    placeholder="Introduce número" />
                @if(formParametrosMod.controls["numMaxFotografias"].invalid && (formParametrosMod.controls["numMaxFotografias"].dirty || formParametrosMod.controls["numMaxFotografias"].touched)){
                    @if(formParametrosMod.controls["numMaxFotografias"].errors?.["required"]){
                        <div class="text-danger">
                            El número máximo de fotografías es obligatorio.
                        </div>
                    }
                    @if(formParametrosMod.controls["numMaxFotografias"].errors?.["min"]){
                        <div class="text-danger">
                            El número mínimo es 1.
                        </div>
                    }
                }
            </div>
            <div class="col-md-6">
                <label for="tema" class="form-label">Temática</label>
                <input type="text" id="tema" required formControlName="tema" class="form-control"
                    placeholder="Introduce un tema" />
                @if(formParametrosMod.controls["tema"].invalid && (formParametrosMod.controls["tema"].dirty || formParametrosMod.controls["tema"].touched)){
                    @if(formParametrosMod.controls["tema"].errors?.["required"]){
                        <div class="text-danger">
                            La temática de las fotografias es obligatoria.
                        </div>
                    }
                }
            </div>
        </div>

        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <label for="fInicioInscripcion" class="form-label">Fecha de inicio de inscripciones</label>
                <input type="date" id="fInicioInscripcion" required formControlName="fInicioInscripcion" class="form-control" />
                @if(formParametrosMod.controls["fInicioInscripcion"].invalid && (formParametrosMod.controls["fInicioInscripcion"].dirty || formParametrosMod.controls["fInicioInscripcion"].touched)){
                    @if(formParametrosMod.controls["fInicioInscripcion"].errors?.["required"]){
                        <div class="text-danger">
                            La fecha de inicio de las inscripciones es obligatoria.
                        </div>
                    }
                }
            </div>
            <div class="col-md-6">
                <label for="fFinInscripcion" class="form-label">Fecha de fin de inscripciones</label>
                <input type="date" id="fFinInscripcion" required formControlName="fFinInscripcion" class="form-control" />
                @if(formParametrosMod.controls["fFinInscripcion"].invalid && (formParametrosMod.controls["fFinInscripcion"].dirty || formParametrosMod.controls["fFinInscripcion"].touched)){
                    @if(formParametrosMod.controls["fFinInscripcion"].errors?.["required"]){
                        <div class="text-danger">
                            La fecha de fin de las inscripciones es obligatoria.
                        </div>
                    }
                }
            </div>
        </div>

        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <label for="fInicioVotacion" class="form-label">Fecha de inicio de votaciones</label>
                <input type="date" id="fInicioVotacion" required formControlName="fInicioVotacion" class="form-control" />
                @if(formParametrosMod.controls["fInicioVotacion"].invalid && (formParametrosMod.controls["fInicioVotacion"].dirty || formParametrosMod.controls["fInicioVotacion"].touched)){
                    @if(formParametrosMod.controls["fInicioVotacion"].errors?.["required"]){
                        <div class="text-danger">
                            La fecha de inicio de las votaciones es obligatoria.
                        </div>
                    }
                }
            </div>
            <div class="col-md-6">
                <label for="fFinVotacion" class="form-label">Fecha de fin de votaciones</label>
                <input type="date" id="fFinVotacion" required formControlName="fFinVotacion" class="form-control" />
                @if(formParametrosMod.controls["fFinVotacion"].invalid && (formParametrosMod.controls["fFinVotacion"].dirty || formParametrosMod.controls["fFinVotacion"].touched)){
                    @if(formParametrosMod.controls["fFinVotacion"].errors?.["required"]){
                        <div class="text-danger">
                            La fecha de fin de las votaciones es obligatoria.
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <label for="fGanador" class="form-label">Fecha publicación ganador</label>
                <input type="date" id="fGanador" required formControlName="fGanador" class="form-control" />
                @if(formParametrosMod.controls["fGanador"].invalid && (formParametrosMod.controls["fGanador"].dirty || formParametrosMod.controls["fGanador"].touched)){
                    @if(formParametrosMod.controls["fGanador"].errors?.["required"]){
                        <div class="text-danger">
                            La fecha de publicación de ganador es obligatoria.
                        </div>
                    }
                }
            </div>
        </div>
    
        <div class="mb-4">
            <label for="categorias" class="form-label">Categorías</label>
            <div formArrayName="categorias" class="row">
              <div class="col-md-6 mb-3" *ngFor="let cat of categorias.controls; let i = index" [formGroupName]="i">
                <div class="p-3 border rounded bg-white shadow-sm h-100">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control mb-2" formControlName="nombre" required />
                    @if (cat.get("nombre")?.invalid && (cat.get("nombre")?.dirty || cat.get("nombre")?.touched)) {
                        @if (cat.get("nombre")?.errors?.["required"]) {
                        <div class="text-danger">
                            El nombre de la categoría es obligatorio.
                        </div>
                        }
                    }
                  <label for="descripcion"class="form-label">Descripción</label>
                  <textarea class="form-control" rows="3" formControlName="descripcion" required></textarea>
                    @if (cat.get("descripcion")?.invalid && (cat.get("descripcion")?.dirty || cat.get("descripcion")?.touched)) {
                        @if (cat.get("descripcion")?.errors?.["required"]) {
                        <div class="text-danger">
                            La descripción de la categoría es obligatoria.
                        </div>
                        }
                    }
                    <button type="button" class="btn btn-custom mt-2" (click)="eliminarCategoria(cat.get('id')?.value, i)">Eliminar categoría</button>
                </div>
              </div>
            </div>
        </div> 
        
        <div class="text-center mt-4">
            <button class="btn btn-custom btn-lg" type="submit" [disabled]="!formParametrosMod.valid || formParametrosMod.pristine">Guardar</button>
            <button class="btn btn-custom btn-lg ms-3" type="button" (click)="cancelar()">Cancelar</button>
        </div>
        <!-- Cuadro texto para mensaje satisfactorio o de error -->
        <div class="text-center mt-4">
            <div *ngIf="mensajeError" class="alert alert-danger text-center">
                {{ mensajeError }}
            </div>
            <div *ngIf="categoriaBorradaCorrectamente " class="alert alert-success text-center">
                Categoría eliminada correctamente.
            </div>
            <div *ngIf="parametroModificado " class="alert alert-success text-center">
                Parámetro modificado correctamente.
            </div>
        </div>  
    </form> 
    <!-- Modal Confirmar Eliminar Categoria -->
    <div class="modal fade" id="modalEliminarCategoria" tabindex="-1" aria-labelledby="modalEliminarCategoriaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header text-white">
                <h5 class="modal-title" id="modalEliminarCategoriaLabel">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar esta categoría?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom btn-lg" (click)="confirmarEliminarCategoria()">Eliminar</button>
                <button type="button" class="btn btn-custom btn-lg ms-3" data-bs-dismiss="modal">Cancelar</button>
            </div>
            </div>
        </div>
    </div>   
</div>
