.btn-custom {
    background-color: #D47F62 !important; /* Color de fondo al pasar el mouse */
    border-color: #D47F62 !important; /* Color del borde */
    color: #254D42 !important; /* Color del texto */
}

.btn-custom:hover {
    background-color: #254D42 !important; /* Color de fondo al pasar el mouse */
    border-color: #254D42 !important; /* Color del borde */
    color: white !important;
}

.modal-header {
    background-color: #D47F62 !important; /* Color de fondo del encabezado del modal */
}