<div class="container-fluid py-5" *ngIf="parametros">
    <header class="text-center mb-5 text-white p-4 rounded container" style="background-color: #F3F1ED;">
        <h1 class="fw-bold" style="color: #254D42;">Rally Fotográfico</h1>
        <p class="lead" style="color: #254D42;">¡Participa y comparte tu talento!</p>
        <p class="lead" style="color: #254D42;"> Los participantes deben capturar momentos de lo que para ellos son una vacaciones perfectas.</p>
        <p class="lead" style="color: #254D42;"> Se pueden incluir tanto fotografías de paisajes, actividades, detalles cotidianos, etc. pero siempre en un contexto de vacaciones.</p>
        <p class="lead" style="color: #254D42;"> El objetivo es mostrar la belleza de las vacaciones a través de la fotografía, así que deja volar tu imaginación y creatividad.</p>
    </header>

    <section class="mb-5 text-center">
        <div class="container rounded" style="background-color: #F3F1ED;">
            <h2 class="text-center" style="color: #254D42;">Bases de Participación</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Concurso abierto a aficionados y profesionales.</li>
                <li class="list-group-item">Máximo <strong>{{ parametros.numMaxFotografias }}</strong> fotografías en total. Sólo se permite 1 fotografía por categoría.</li>
                <li class="list-group-item">Temática: <strong>{{ parametros.tema }}</strong>.</li>
                <li class="list-group-item">Las fotos deben ser originales. No se permiten ediciones ni creaciones de IA. </li>
            </ul>
        </div>
    </section>
    
    <section class="mb-5 text-center">
        <div class="container rounded" style="background-color: #F3F1ED;">
            <h2 class="text-center" style="color: #254D42;">Fechas</h2>
            <div class="table-responsive">
                <table class="table table-bordered text-center custom-table-bg">
                    <tbody>
                        <tr><th>Inicio de inscripciones</th><td>{{ parametros.fInicioInscripcion | date: 'dd \'de\' MMMM \'de\' yyyy' }}</td></tr>
                        <tr><th>Cierre de inscripciones</th><td>{{ parametros.fFinInscripcion | date: 'dd \'de\' MMMM \'de\' yyyy' }}</td></tr>
                        <tr><th>Inicio de votaciones</th><td>{{ parametros.fInicioVotacion | date: 'dd \'de\' MMMM \'de\' yyyy' }}</td></tr>
                        <tr><th>Fin de votaciones</th><td>{{ parametros.fFinVotacion | date: 'dd \'de\' MMMM \'de\' yyyy' }}</td></tr>
                        <tr><th>Anuncio de ganadores</th><td>{{ parametros.fGanador | date: 'dd \'de\' MMMM \'de\' yyyy' }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="mb-5 text-center">
        <div class="container rounded" style="background-color: #F3F1ED;">
            <h2 class="text-center" style="color: #254D42;">Categorías</h2>
            <div class="table-responsive">
                <table class="table table-bordered text-center custom-table-bg">
                    <tbody>
                        <tr *ngFor="let categoria of parametros.categorias">
                            <th>{{ categoria.nombre }}</th>
                            <td>{{ categoria.descripcion }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @if(isAuthenticated() && isAdmin()){
                <button class="btn btn-custom btn-lg" routerLink="/categoria" type="button">Añadir categoría</button>
                <br> <br>
            }
        </div>
    </section>

    <section class="mb-5 text-center">
        <div class="container rounded" style="background-color: #F3F1ED;">
            <h2 class="text-center" style="color: #254D42;">Premios</h2>
            <div class="table-responsive">
                <table class="table table-bordered text-center custom-table-bg">
                    <tbody>
                        <tr><th>Primer premio</th><td>200€</td></tr>
                        <tr><th>Segundo premio</th><td>100€</td></tr>
                        <tr><th>Tercer premio</th><td>50€</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    
    <section class="mb-5 text-center">
        <div class="container rounded" style="background-color: #F3F1ED;">
            @if(isAuthenticated() && isAdmin()){ 
                <h2 class="text-center" style="color: #254D42;">Validación de Fotografías</h2>
                <button type="button" class="btn btn-custom btn-lg" routerLink="/imagen-validar">Validar fotografías</button>
                <br>
            }@else if(isAuthenticated()){
                <h2 class="text-center" style="color: #254D42;">Fotografías</h2>
                <button type="button" class="btn btn-custom btn-lg" routerLink="/imagen-cargar">Cargar fotografías</button>
                <br>
            }@else {
                <h2 class="text-center" style="color: #254D42;">Subida de Fotografías</h2>
                <p>Para participar, debes registrarte en el siguiente enlace:</p>
                <button type="button" class="btn btn-custom btn-lg" routerLink="/registro">Registro</button>
                <br>
                <br>
                <p>Podrás subir tu foto desde tu perfil.</p>
                <button type="button" class="btn btn-custom btn-lg" routerLink="/login">Login</button>
                <br>
            }
            <br>
        </div>
    </section>

    <section class="mb-5 text-center">
        <div class="container rounded" style="background-color: #F3F1ED;">
            @if(!isAuthenticated()){ 
            <h2 class="text-center" style="color: #254D42;">Votaciones</h2>
            <p>Las fotos deberán ser aprobadas por nuestro administrador y después serán publicadas para ser votadas por el público.</p>
            <button type="button" class="btn btn-custom btn-lg" routerLink="/galeria">Votar</button>
            <br>
            <br>
            }
        </div>
    </section>

    @if(isAuthenticated() && isAdmin()){
        <section class="mb-5 text-center">
            <div class="container rounded" style="background-color: #F3F1ED;">
                <h2 class="text-center" style="color: #254D42;">Modificar parámetros</h2>
                <button class="btn btn-custom btn-lg" (click)="editarParametros()" type="button">Editar</button>
                <br>
                <br>
            </div>
        </section>
    }
</div>
