<div class="container-fluid py-5">
    <header class="text-center mb-5 text-white p-4 rounded container" style="background-color: #F3F1ED;">
        <h1 class="fw-bold" style="color: #1A4276;">📸 Rally Fotográfico 📸</h1>
        <p class="lead" style="color: #1A4276;">¡Participa y comparte tu talento!🎉</p>
        <p class="lead" style="color: #1A4276;"> Los participantes deben capturar momentos de lo que para ellos son una vacaciones perfectas.</p>
        <p class="lead" style="color: #1A4276;"> Se pueden incluir tanto fotografías de paisajes, actividades, detalles cotidianos, etc. pero siempre en un contexto de vacaciones.</p>
        <p class="lead" style="color: #1A4276;"> El objetivo es mostrar la belleza de las vacaciones a través de la fotografía, así que deja volar tu imaginación y creatividad.</p>
    </header>

    <section class="mb-5 text-center">
        <div class="container" style="background-color: #F3F1ED;">
            <h2 class="text-center" style="color: #1A4276;">📌 Bases de Participación</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Concurso abierto a aficionados y profesionales.</li>
                <li class="list-group-item">Máximo <strong>1</strong> foto por categoría.</li>
                <li class="list-group-item">Temática: <strong>Vacaciones de ensueño</strong>.</li>
                <li class="list-group-item">Las fotos deben ser originales. No se permiten ediciones ni creaciones de IA. </li>
            </ul>
        </div>
    </section>
    
    <section class="mb-5 text-center">
        <div class="container" style="background-color: #F3F1ED;">
            <h2 class="text-center" style="color: #1A4276;">📅 Fechas</h2>
            <div class="table-responsive">
                <table class="table table-bordered text-center custom-table-bg">
                    <tbody>
                        <tr><th>Inicio de inscripciones</th><td>14 de Marzo de 2025</td></tr>
                        <tr><th>Cierre de inscripciones</th><td>31 de Marzo de 2025</td></tr>
                        <tr><th>Inicio de votaciones</th><td>1 de Abril de 2025</td></tr>
                        <tr><th>Fin de votaciones</th><td>31 de Mayo de 2025</td></tr>
                        <tr><th>Anuncio de ganadores</th><td>10 de Junio de 2025</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    

    <section class="mb-5 text-center">
        <div class="container" style="background-color: #F3F1ED;">
            <h2 class="text-center" style="color: #1A4276;">📸 Categorías</h2>
            <div class="table-responsive">
                <table class="table table-bordered text-center custom-table-bg">
                    <tbody>
                        <tr><th>Paisaje</th><td>Fotos de playas, montañas, paisajes exuberantes, atardeceres, etc.</td></tr>
                        <tr><th>Gastronomía</th><td>Los platos más representativos o una experiencia gastronómica única del lugar.</td></tr>
                        <tr><th>Viajeros en acción</th><td>Imágenes que muestran la interacción de las personas con el entorno, por ejemplo, haciendo turismo, explorando, disfrutando de las actividades.</td></tr>
                        <tr><th>Viviendo la cultura</th><td>Retratos de las tradiciones locales, actividades culturales, festivales, arte, arquitectura.</td></tr>
                        <tr><th>Detalles</th><td>Fotos de pequeños detalles que representan unas vacaciones perfectas, como las huellas en la arena, la textura de una bebida, los objetos típicos del lugar, etc.</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    
    <section class="mb-5 text-center">
        <div class="container" style="background-color: #F3F1ED;">
            <h2 class="text-center" style="color: #1A4276;">📥 Subida de Fotografías</h2>
            <p>Para participar, debes registrarte en el siguiente enlace:</p>
            <button class="btn btn-custom btn-lg" routerLink="/registro">Registro</button>
            <br>
            <br>
            <p>Podrás subir tu foto desde tu perfil.</p>
            <button class="btn btn-custom btn-lg" routerLink="/">Subir</button>
            <br>
            <br>
        </div>
    </section>
    

    <section class="mb-5 text-center">
        <div class="container" style="background-color: #F3F1ED;">
            <h2 class="text-center" style="color: #1A4276;">⭐ Votaciones</h2>
            <p>Las fotos deberán ser aprobadas por nuestro administrador y después serán publicadas para ser votadas por el público.</p>
            <button class="btn btn-custom btn-lg" routerLink="/">Votar</button>
            <br>
            <br>
        </div>
        
    </section>
</div>
