<nav class="navbar navbar-light bg-light rounded w-100">
    <div class="container-fluid">
        <img src="assets/logo.png" alt="Logo" width="75" height="75">
        <h1 style= "color:#1A4276">Cazadores De Momentos</h1>
        <button class="btn btn-custom" routerLink="/login">Login</button>
    </div>
    <div class="container-fluid d-flex justify-content-center gap-3">
        <button class="btn btn-custom" routerLink="/">Inicio</button>
        <button class="btn btn-custom" routerLink="/galeria">Galería fotos</button>
        <button class="btn btn-custom" routerLink="/registro">Registro participantes</button>
        <button class="btn btn-custom" routerLink="/contacto">Contacto</button>
    </div>
</nav>