<!-- Menú navbar para opciones de navegación en la página -->
<nav class="navbar navbar-light bg-light rounded w-100">
    <div class="container-fluid">
        <img src="assets/logo4.png" alt="Logo" width="75" height="75">
        <h1 style= "color:#254D42">Cazadores De Momentos</h1>
        @if(!isAuthenticated()){ 
            <button type="button" class="btn btn-custom" routerLink="/login">Login</button>
        }@else{ 
            <button type="button" class="btn btn-custom" (click)="logout()">Logout</button>
        }
    </div>

    @if(isAuthenticated() && isAdmin()){
        <div class="container-fluid d-flex justify-content-center gap-3">
            <button type="button" class="btn btn-custom" routerLink="/">Ver parámetros</button>
            <button type="button" class="btn btn-custom" routerLink="/parametros-mod">Modificar parámetros</button>
            <button type="button" class="btn btn-custom" routerLink="/listar-usuarios">Gestión usuarios</button>
            <button type="button" class="btn btn-custom" routerLink="/perfil">Perfil</button>
            <button type="button" class="btn btn-custom" routerLink="/galeria">Galeria</button>
            <button type="button" class="btn btn-custom" routerLink="/ranking">Estadísticas y resultados</button>
        </div>
    }@else if(isAuthenticated() && isParticipante()){
        <div class="container-fluid d-flex justify-content-center gap-3">
            <button type="button" class="btn btn-custom" routerLink="/">Inicio</button>
            <button type="button" class="btn btn-custom" routerLink="/perfil">Perfil</button>
            <button type="button" class="btn btn-custom" routerLink="/imagen-cargar">Cargar fotografías</button>
            <button type="button" class="btn btn-custom" routerLink="/galeria">Galería</button>
            <button type="button" class="btn btn-custom" routerLink="/ranking">Rankings</button>
        </div>
    }@else if(isAuthenticated() && isGeneral()){
        <div class="container-fluid d-flex justify-content-center gap-3">
            <button type="button" class="btn btn-custom" routerLink="/">Inicio</button>
            <button type="button" class="btn btn-custom" routerLink="/galeria">Galería fotos</button>
            <button type="button" class="btn btn-custom" routerLink="/ranking">Rankings</button>
        </div>
    }@else if(!isAuthenticated() ){
        <div class="container-fluid d-flex justify-content-center gap-3">
            <button type="button" class="btn btn-custom" routerLink="/">Inicio</button>
            <button type="button" class="btn btn-custom" routerLink="/registro">Registro participantes</button>
            <button type="button" class="btn btn-custom" routerLink="/registro-simple">Registro para votaciones</button>
            <button type="button" class="btn btn-custom" routerLink="/galeria">Galería fotos</button>
            <button type="button" class="btn btn-custom" routerLink="/ranking">Rankings</button>
        </div>
    }
</nav>