<!-- Formaulario Registro usuarios nuevos -->
<br />
<br />
<form [formGroup]="formUsuarioNuevo" class="container p-4 rounded shadow-sm" style="background-color: #F3F1ED;" (ngSubmit)="nuevoUsuario()">
    <h1 class="fw-bold text-center mb-4" style="color: #254D42;">Registro de participantes</h1>
    <div class="row g-3 mb-4">
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" required formControlName="nombre" class="form-control"
                placeholder="Introduce nombre" />
            @if(formUsuarioNuevo.controls["nombre"].invalid && (formUsuarioNuevo.controls["nombre"].dirty || formUsuarioNuevo.controls["nombre"].touched)){
                @if(formUsuarioNuevo.controls["nombre"].errors?.["required"]){
                    <div class="text-danger">
                        El nombre es obligatorio.
                    </div>
                }
                @if(formUsuarioNuevo.controls["nombre"].errors?.["minlength"]){
                    <div class="text-danger">
                        El nombre debe tener al menos 3 caracteres.
                    </div>
                }
            }
        </div>
        <div class="col-md-6">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" id="apellidos" required formControlName="apellidos" class="form-control"
                placeholder="Introduce apellidos" />
            @if(formUsuarioNuevo.controls["apellidos"].invalid && (formUsuarioNuevo.controls["apellidos"].dirty || formUsuarioNuevo.controls["apellidos"].touched)){
                @if(formUsuarioNuevo.controls["apellidos"].errors?.["required"]){
                    <div class="text-danger">
                        Los apellidos son obligatorios.
                    </div>
                }
                @if(formUsuarioNuevo.controls["apellidos"].errors?.["minlength"]){
                    <div class="text-danger">
                        Los apellidos debe tener al menos 6 caracteres.
                    </div>
                }
            }
        </div>
    </div>

    <div class="row g-3 mb-4">
        <div class="col-md-6">
            <label for="alias" class="form-label">Alias</label>
            <input type="text" id="alias" required formControlName="alias" class="form-control"
                placeholder="Introduce alias" />
            @if(formUsuarioNuevo.controls["alias"].invalid && (formUsuarioNuevo.controls["alias"].dirty || formUsuarioNuevo.controls["alias"].touched)){
                @if(formUsuarioNuevo.controls["alias"].errors?.["required"]){
                    <div class="text-danger">
                        El alias es obligatorio.
                    </div>
                }
                @if(formUsuarioNuevo.controls["alias"].errors?.["minlength"]){
                    <div class="text-danger">
                        El alias debe tener al menos 2 caracteres.
                    </div>
                }
            }
        </div>
        <div class="col-md-6">
            <label for="fNacimiento" class="form-label">Fecha nacimiento</label>
            <input type="date" id="fNacimiento" required formControlName="fNacimiento" class="form-control" />
            @if(formUsuarioNuevo.controls["fNacimiento"].invalid && (formUsuarioNuevo.controls["fNacimiento"].dirty || formUsuarioNuevo.controls["fNacimiento"].touched)){
                @if(formUsuarioNuevo.controls["fNacimiento"].errors?.["required"]){
                    <div class="text-danger">
                        La fecha de nacimiento es obligatoria.
                    </div>
                }
            }
        </div>
    </div>

    <div class="row g-3 mb-4">
        <div class="col-md-6">
            <label for="numTelefono" class="form-label">Teléfono</label>
            <input type="tel" id="numTelefono" required formControlName="numTelefono" class="form-control" placeholder="Introduce teléfono"/>
            @if(formUsuarioNuevo.controls["numTelefono"].invalid && (formUsuarioNuevo.controls["numTelefono"].dirty || formUsuarioNuevo.controls["numTelefono"].touched)){
                @if(formUsuarioNuevo.controls["numTelefono"].errors?.["required"]){
                    <div class="text-danger">
                        El teléfono es obligatorio.
                    </div>
                }
                @if(formUsuarioNuevo.controls["numTelefono"].errors?.["minlength"]){
                    <div class="text-danger">
                        El teléfono debe tener al menos 9 caracteres.
                    </div>
                }
                @if(formUsuarioNuevo.controls["numTelefono"].errors?.["maxlength"]){
                    <div class="text-danger">
                        El teléfono debe tener máximo 9 caracteres.
                    </div>
                }
            }
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" required formControlName="email" class="form-control" placeholder="Introduce email" />
            @if(formUsuarioNuevo.controls["email"].invalid && (formUsuarioNuevo.controls["email"].dirty || formUsuarioNuevo.controls["email"].touched)){
                @if(formUsuarioNuevo.controls["email"].errors?.["required"]){
                    <div class="text-danger">
                        El email es obligatorio.
                    </div>
                }
                @if(formUsuarioNuevo.controls["email"].errors?.["email"]){
                    <div class="text-danger">
                        Formato de email incorrecto.
                    </div>
                }
            }
        </div>
    </div>

    <div class="row g-3 mb-4">
        <div class="col-md-6">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" required formControlName="password" class="form-control" placeholder="Introduce contraseña" />
            @if(formUsuarioNuevo.controls["password"].invalid && (formUsuarioNuevo.controls["password"].dirty || formUsuarioNuevo.controls["password"].touched)){
                @if(formUsuarioNuevo.controls["password"].errors?.["required"]){
                    <div class="text-danger">
                        La contraseña es obligatoria.
                    </div>
                }
                @if(formUsuarioNuevo.controls["password"].errors?.["minlength"]){
                    <div class="text-danger">
                        La contraseña debe tener al menos 6 caracteres.
                    </div>
                }
                @if(formUsuarioNuevo.controls["password"].errors?.["pattern"]){
                    <div class="text-danger">
                        La contraseña debe contener al menos un número, una letra y un carácter especial.
                    </div>
                }
            }
        </div>
    </div>

    <!-- Botones -->
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-custom btn-lg" [disabled]="!formUsuarioNuevo.valid">Registrarse</button>
        <button type="button" routerLink="/" class="btn btn-custom btn-lg ms-3">Volver</button>
    </div>

    <!-- Cuadro texto para mensaje satisfactorio o de error -->
    <div class="text-center mt-4">
        <div *ngIf="mensajeError" class="alert alert-danger text-center">
            {{ mensajeError }}
        </div>
        <div *ngIf="registroCorrecto" class="alert alert-success text-center">
            Usuario se ha registrado correctamente.
        </div>
    </div>
</form>