<br/>
<br/>
<form [formGroup]="form" class="container p-4 rounded shadow-sm" style="max-width: 400px; background-color: #F3F1ED;" (ngSubmit)="login()">
    <h3 class="text-center mb-4" style="color: #254D42;">Iniciar Sesión</h3>

    <div class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input type="text"  id="username" required formControlName="username" class="form-control" placeholder="Ingrese su usuario">
        @if(form.controls["username"].invalid && (form.controls["username"].dirty || form.controls["username"].touched)){
            @if(form.controls["username"].errors?.["required"]){
                <div class="text-danger">
                    La usuario es obligatoria.
                </div>
            }
        }
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" required formControlName="password"  class="form-control" placeholder="Ingrese su contraseña">
        @if(form.controls["password"].invalid && (form.controls["password"].dirty || form.controls["password"].touched)){
            @if(form.controls["password"].errors?.["required"]){
                <div class="text-danger">
                    La contraseña es obligatoria.
                </div>
            }
        }
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-custom">Iniciar sesión</button>
        <button routerLink="/" class="btn btn-custom">Volver</button>
    </div>
</form>

<h1>{{this.tokenR}}</h1>


