<!-- Muestra las imagenes con estado "Validada" -->
<div class="container-fluid py-5">
    <header class="text-center mb-5 text-white p-4 rounded container" style="background-color: #F3F1ED;">
        <h1 class="fw-bold text-center mb-4" style="color: #254D42;">Galería</h1>
        <p class="lead" style="color: #254D42;">Explora las mejores fotografías por temática</p>
    </header>
    <section class="text-center" >
      <div class="container" >
        <div class="row justify-content-center g-4" >
            <div class="row g-4" >
                @for (img of imagenes; track img.id) {
                  @if(img.estadoValidacion == "Validada"){
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                      <div class="card h-100 shadow-sm" style="background-color: #F3F1ED;">
                        <!-- <img [src]="img.url" class="card-img-top" [alt]="img.nombre"> -->
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">{{ img.nombre }}</h5>
                            <p class="card-text">
                            <strong>Autor:</strong> {{ img.usuario.nombre }}<br>
                            <strong>Categoría:</strong> {{ img.categoria.nombre }}<br>
                            <strong>Descripción:</strong>
                            <span *ngIf="!estadoDescripcion[img.id]">
                                {{ img.descripcion | slice:0:50 }}<span *ngIf="img.descripcion.length > 50">...</span>
                              </span>
                              <span *ngIf="estadoDescripcion[img.id]">{{ img.descripcion }}</span>
                              <a href="#" (click)="minimizarDescripcion(img.id); $event.preventDefault()" style="text-decoration: none; color: #254D42;">
                                {{ estadoDescripcion[img.id] ? 'Ver menos' : 'Ver más' }}
                              </a>
                            </p>
                            <p class="card-text">
                              <strong>Votos:</strong> {{ img.votosImagen }}<br>
                            </p>
                            <button class="btn btn-custom btn-lg" type="button" (click)="verImagen(img.id)" title="Ver fotografía"><i class="bi bi-eye-fill"></i></button>
                            @if(isGeneral() || isParticipante()){
                              <button class="btn btn-success btn-lg ms-2" (click)="votarImagen(img.id)" title="Votar"><i class="bi bi-star-fill"></i></button>
                            }
                        </div>
                      </div>
                    </div>
                  }
                }
            </div>
        </div>
      </div>
    </section>
</div>

<!-- Modal para ver la imagen en grande al dar al boton Ver fotografía-->
<section class="text-center">
  <div class="modal fade" id="verImagenModal" tabindex="-1" aria-labelledby="verImagenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="verImagenModalLabel">Visualización Imagen</h5>
          <!-- Botón de cierre -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <img [src]="imagenSeleccionadaUrl" class="img-fluid" alt="Imagen" />
        </div>
      </div>
    </div>
  </div>
</section>

  