.btn-custom {
    background-color: #D47F62 !important; /* Color de fondo al pasar el mouse */
    border-color: #D47F62 !important; /* Color del borde */
    color: #254D42 !important; /* Color del texto */
}

.btn-custom:hover, .btn-success:hover {
    background-color: #254D42 !important; /* Color de fondo al pasar el mouse */
    border-color: #254D42 !important; /* Color del borde */
    color: white !important;
}

.btn-success {
    background-color: #254D42 !important; /* Color de fondo al pasar el mouse */
    border-color: #254D42 !important; /* Color del borde */
    color: #D47F62 !important; /* Color del texto */
}

.btn-success:hover {
    background-color: #D47F62 !important; /* Color de fondo al pasar el mouse */
    border-color: #D47F62 !important; /* Color del borde */
    color: white !important;
}