
<div class="container-fluid py-5">
  <table class="table table-bordered text-center custom-table-bg">
    <thead>
      <tr>
        <th>CATEGORÍA</th>
        <th>NOMBRE</th>
        <th>DESCRIPCIÓN</th>
        <th>ESTADO</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let imagen of imagenes">
        <td>{{ imagen.categorias.nombre }}</td>
        <td>{{ imagen.nombre }}</td>
        <td>{{ imagen.descripcion }}</td>
        <td>{{ imagen.estadoValidacion }}</td>
        <td>
          <button class="btn btn-custom btn-lg" type="button" (click)="verImagen(imagen.id)" title="Ver fotografía"><i class="bi bi-eye-fill"></i></button>
          <button class="btn btn-custom btn-lg ms-3" type="button" (click)="modificarImagen(imagen.id)" title="Editar"><i class="bi bi-pencil-fill"></i></button>
          <button class="btn btn-custom btn-lg ms-3" type="button" (click)="eliminarImagen(imagen.id, imagen.nombre)" title="Eliminar"><i class="bi bi-trash-fill"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>