.btn-custom {
    background-color: #FF9575 !important; /* Color de fondo al pasar el mouse */
    border-color: #FF9575 !important; /* Color del borde */
    color: #1A4276 !important; /* Color del texto */
}

.btn-custom:hover {
    background-color: #1A4276 !important; /* Color de fondo al pasar el mouse */
    color: white !important;
}

.list-group-item {
    background-color: #F3F1ED !important;
}

.custom-table-bg {
    background-color: #F3F1ED !important; /* Beige claro */
}

.custom-table-bg th, 
.custom-table-bg td {
    background-color: #F3F1ED !important; /* Asegura que todas las celdas tengan el color */
}


